* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --accent-color: #00796b;
  --foreground-color: #0F1419;
  --background-color: white;
  --gray-dark-color: #66757F;
  --gray-light-color: #edeff1;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: var(--foreground-color);
  background-color: var(--background-color);
}

.app-container {
  max-width: 800px;
  margin: 0 auto;
}

.navigation {
  padding: 6px;
  min-height: 55px;
  display: flex;
  gap: 16px;
  align-items: center;
  padding: 0 12px;
}

.navigation nav {
  flex: 1;
  display: flex;
  gap: 16px;
  justify-content: flex-end;
}

.home-page__main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px 0;
}

.register-page__main, .login-page__main, .add-thread-page__main {
  display: flex;
  gap: 16px;
  justify-content: center;
  flex-direction: column;
  padding: 64px;
}

.thread-list-item {
  margin: 16px 0;
}

.thread-comment__main {
  margin-top: 24px;
}

.thread-comment-item {
  margin: 8px 0;
}

.thread-item__body {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;

  overflow: hidden;
  text-overflow: ellipsis;
}

.comment-input {
  margin-top: 24px;
  display: flex;
  gap: 16px;
  justify-content: center;
  flex-direction: column;
}

.thread-vote__main {
  display: flex;
  gap: 16px;
}

.table-main {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.table-main th,
.table-main td {
  padding: 12px;
  text-align: center;
}